
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">My Locater</a>
    <button (click)="isCollapsed = !isCollapsed" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse" [ngClass]="{'collapse':isCollapsed}" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <div (click)="gotoRoute('store-location')">Store Location</div>
        <div (click)="gotoRoute('fetch-location')">Fetch Location</div>
        <div (click)="gotoRoute('recipt-generator')">Recipt Generator</div>

      </div>
    </div>
  </nav>
<router-outlet></router-outlet>
