<div class="container">
  <form [formGroup]="addShopFormGroup" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label>Area Name</label>
    <input type="text" formControlName="areaName" class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f['areaName']['errors'] }" />
    <div *ngIf="submitted && f['areaName']['errors']" class="text-danger">
      <div *ngIf="f['areaName']['errors']['required']">Area Name is required</div>
    </div>
  </div>
  <div class="form-group">
    <label>Store Name</label>
    <input type="text" formControlName="shopName" class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f['shopName']['errors'] }" />
    <div *ngIf="submitted && f['shopName']['errors']" class="text-danger">
      <div *ngIf="f['shopName']['errors']['required']">Store Name is required</div>
    </div>
  </div>
  <div class="form-group">
    <label>Location</label>
    <input type="text" formControlName="location" class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f['location']['errors'] }" readonly/>
    <div *ngIf="submitted && f['location']['errors']" class="text-danger">
      <div *ngIf="f['location']['errors']['required']">Location is required</div>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Register</button>
    <button
      type="button"
      (click)="getLocation()"
      class="btn btn-warning float-right refetch"
    >
    Refetch Location
    </button>
    <button
    type="button"
    (click)="onReset()"
    class="btn btn-warning float-right"
  >Reset
    
  </button>

  </div>
  </form>
</div>