/* You can add global styles to this file, and also import other style files */
@import url('https://unpkg.com/bootstrap@5.2.3/dist/css/bootstrap.min.css');

.container {
    max-width: 90%;
    margin: auto;
    border: 1px solid rgb(188 184 184);
    border-radius: 10px;
    background: #f2f2f2;
    margin-top: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .container form{
    margin: 20px;
    width: 100%;
  }
  .container form .form-group{
    margin: 10px;
  }
  .container select { 
    padding: 10px;
    margin: 10px 0 10px 0;
  }
  .btn {
    margin: 10px
  }
  .btn-warning{
    color: white;
  }